# Google Calendar - Service Account
# Crea una Service Account en Google Cloud y comparte tu calendario con su email.

GOOGLE_SERVICE_ACCOUNT_EMAIL=tu-service-account@tu-proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GOOGLE_CALENDAR_ID=primary
GOOGLE_WORKSPACE_USER_EMAIL=email_del_calendar_owner
